<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<WebPublishMethod>FTP</WebPublishMethod>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>http://mahmoudahmed2003-001-site1.ltempurl.com/</SiteUrlToLaunchAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>034920d0-3000-4872-8ea1-8c43ac80639b</ProjectGuid>
		<publishUrl>ftp://win6215.site4now.net/</publishUrl>
		<DeleteExistingFiles>false</DeleteExistingFiles>
		<FtpPassiveMode>true</FtpPassiveMode>
		<FtpSitePath>/</FtpSitePath>
		<UserName>mahmoudahmed2003-001</UserName>
		<_SavePWD>true</_SavePWD>
		<_TargetId>FTP</_TargetId>
	</PropertyGroup>
</Project>