USE [db_ac925d_mahmoudahmed2003]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/10/2026 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/10/2026 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEn] [nvarchar](200) NOT NULL,
	[NameAr] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConcurrentSessions]    Script Date: 5/10/2026 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConcurrentSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SessionToken] [nvarchar](500) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[LastActivity] [datetime] NOT NULL,
	[DeviceInfo] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.ConcurrentSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/10/2026 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 5/10/2026 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[DiscountPct] [decimal](5, 2) NOT NULL,
	[DiscountAmt] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.InvoiceItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 5/10/2026 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[InvoiceDiscountPct] [decimal](5, 2) NOT NULL,
	[InvoiceDiscountAmt] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/10/2026 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEn] [nvarchar](200) NOT NULL,
	[NameAr] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/10/2026 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordEncrypted] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [NameEn], [NameAr], [Description], [IsActive], [CreatedAt]) VALUES (1, N'Clothes', N'الملابس', NULL, 0, CAST(N'2026-05-06T13:16:16.823' AS DateTime))
INSERT [dbo].[Categories] ([Id], [NameEn], [NameAr], [Description], [IsActive], [CreatedAt]) VALUES (2, N'Clothes', N'ملابس', NULL, 1, CAST(N'2026-05-06T13:45:56.210' AS DateTime))
INSERT [dbo].[Categories] ([Id], [NameEn], [NameAr], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Mobile Phones', N'الهواتف المحمولة', NULL, 1, CAST(N'2026-05-06T13:50:18.037' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ConcurrentSessions] ON 

INSERT [dbo].[ConcurrentSessions] ([Id], [UserId], [SessionToken], [LoginTime], [LastActivity], [DeviceInfo]) VALUES (10, 1, N'475d4678-9d51-427d-86c2-d28ca7e996b4', CAST(N'2026-05-10T14:04:10.653' AS DateTime), CAST(N'2026-05-10T14:12:32.690' AS DateTime), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36')
SET IDENTITY_INSERT [dbo].[ConcurrentSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Address], [IsActive], [CreatedAt]) VALUES (1, N'Mahmoud Ahmed', N'01069973681', N'mahmoud@gmail.com', N'Egypt, Fayoum', 1, CAST(N'2026-05-06T15:02:05.690' AS DateTime))
INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Address], [IsActive], [CreatedAt]) VALUES (2, N'omar yasser', N'01037751486', N'oyasser@gmail.com', NULL, 1, CAST(N'2026-05-06T15:07:20.697' AS DateTime))
INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Address], [IsActive], [CreatedAt]) VALUES (4, N'mohamed salah', N'01047728964', N'salahliverpool@gmail.com', NULL, 1, CAST(N'2026-05-06T15:08:15.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] ON 

INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [ProductId], [ProductName], [UnitPrice], [Quantity], [DiscountPct], [DiscountAmt], [LineTotal]) VALUES (1, 1, 3, N'Cargo pants', CAST(500.00 AS Decimal(18, 2)), 1, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [ProductId], [ProductName], [UnitPrice], [Quantity], [DiscountPct], [DiscountAmt], [LineTotal]) VALUES (2, 1, 4, N'Atomic Habits by james clear', CAST(1000.00 AS Decimal(18, 2)), 1, CAST(10.00 AS Decimal(5, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(900.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [ProductId], [ProductName], [UnitPrice], [Quantity], [DiscountPct], [DiscountAmt], [LineTotal]) VALUES (3, 1, 6, N'Samsung Galaxy S22', CAST(40.00 AS Decimal(18, 2)), 1, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(40.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [InvoiceNumber], [CustomerId], [InvoiceDate], [SubTotal], [InvoiceDiscountPct], [InvoiceDiscountAmt], [TotalAmount], [Notes], [CreatedBy], [CreatedAt], [Status]) VALUES (1, N'INV-20260508-0001', 1, CAST(N'2026-05-08T00:00:04.927' AS DateTime), CAST(1440.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(72.00 AS Decimal(18, 2)), CAST(1368.00 AS Decimal(18, 2)), NULL, 1, CAST(N'2026-05-08T00:00:04.927' AS DateTime), N'Cancelled')
INSERT [dbo].[Invoices] ([Id], [InvoiceNumber], [CustomerId], [InvoiceDate], [SubTotal], [InvoiceDiscountPct], [InvoiceDiscountAmt], [TotalAmount], [Notes], [CreatedBy], [CreatedAt], [Status]) VALUES (2, N'INV-20260510-0001', 5, CAST(N'2026-05-10T14:11:54.127' AS DateTime), CAST(3500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(3500.00 AS Decimal(18, 2)), N'suiiiiiii', 1, CAST(N'2026-05-10T14:11:54.127' AS DateTime), N'Confirmed')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [NameEn], [NameAr], [CategoryId], [Price], [StockQuantity], [Description], [IsActive], [CreatedAt]) VALUES (1, N'Polo T-Shirt', N'قميص بولو', 2, CAST(300.00 AS Decimal(18, 2)), 50, N'stylish polo tshirt for men summer 2026', 1, CAST(N'2026-05-06T13:47:54.730' AS DateTime))
INSERT [dbo].[Products] ([Id], [NameEn], [NameAr], [CategoryId], [Price], [StockQuantity], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Cargo pants', N'بنطال كارجو', 2, CAST(500.00 AS Decimal(18, 2)), 5, NULL, 1, CAST(N'2026-05-07T23:30:32.650' AS DateTime))
INSERT [dbo].[Products] ([Id], [NameEn], [NameAr], [CategoryId], [Price], [StockQuantity], [Description], [IsActive], [CreatedAt]) VALUES (4, N'Atomic Habits by james clear', N'العادات الذرية لجيمس كلير', 5, CAST(1000.00 AS Decimal(18, 2)), 7, NULL, 1, CAST(N'2026-05-07T23:31:10.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordEncrypted], [FullName], [Email], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'UVQjKwKb4T2oChOwA9CWWw==', N'System Administrator', N'admin@vtssales.com', 1, CAST(N'2026-05-05T22:06:59.373' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ConcurrentSessions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConcurrentSessions_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConcurrentSessions] CHECK CONSTRAINT [FK_dbo.ConcurrentSessions_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceItems_dbo.Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_dbo.InvoiceItems_dbo.Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceItems_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_dbo.InvoiceItems_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Users_CreatedBy]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
