<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=sql6030.site4now.net;Initial Catalog=db_ac925d_mahmoudahmed2003;User ID=db_ac925d_mahmoudahmed2003_admin;Password=KWbiGrp.eFp#A$3;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>